/* estilo correspondente a barra de busca */
#buscar_produto {
    margin-top: 0px;
    height: 65px;
    background-color: #00695C;
}

#conteudo_buscar {
    position: relative;
    top: 0px;
    left: 50%;
    height: 65px;
    width: 400px;
    margin-left: -200px;
}

#input_buscar_principal {
    position: relative;
    margin: 0px;
    border: none;
    border-bottom: 2px solid #fff;
    width: 300px;
    height: 30px;
    background-color: transparent;
    padding: 0px 10px;
    color: #fff;
    outline: none;
    font-size: 18px;
}

#input_buscar_principal::-webkit-input-placeholder  {
    color:#fff;
    font-size: 18px;
}

#input_botao_buscar {
    position: relative;
    top: 7px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 40px;
    background: #fff url('../..//imagem/lupa.svg') no-repeat center center;
    border: 13px solid #fff;
    outline: none;
    cursor: pointer;
}

/* Conteúdo complementar lado esquerdo */

#conteudo_complementar {
    width: 205px;
    border-radius: 3px;
    position: relative;
    left: 10%;
    top: 10px;
    float: left;
    z-index: 10;
    background-color: transparent;
}

/* Blocos que estão dentro do Conteudo complementar */

.blocos_conteudo_complementar {
    width: 200px;
    padding-bottom: 25px;
    border: 2px solid #c2c2c2;
    border-radius: 3px;
    margin: 0px 0px 5px;
    background-color: #fff;
    box-shadow: 0 0 8px #9c9c9c;
}

.cabecalho_bloco_conteudo_complementar {
    height: 30px;
    width: 190px;
    margin: 0px 0px 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #ECEFF1;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}

.radio_blocos_conteudo_complementar {
    margin: 0px;
    margin-left: 20px;
    height: 13px;
    width: 13px;
}

#fieldset_blocos_conteudo {
    border: none;
    border-top: 2px solid #757575;
    border-radius: 3px;
}

/* Estilo para o espaço referente aos produtos */

#espaco_produtos {
    margin: 10px 10%;
    padding-left: 220px;
    position: relative;
    z-index: 1;
}

#msg_produtos {
    height: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #FFCDD2;
    border: 1px solid #B71C1C;
    text-align: center;
}

.exibindo_produto {
    display: inline-block;
    height: 400px;
    width: 200px;
    border: 2px solid #c2c2c2;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    vertical-align: top;
    margin-bottom: 3px;
    box-shadow: 0 0 8px #9c9c9c;
}

.exibindo_produto:hover {
    -webkit-transition: 0.2s linear;
    transform: scale(1.1);
    box-shadow: none;
}

.imagem_produto {
    height: 200px;
    width: 200px;
    margin-top: 15px;
}

.descrisao_produto {
    border-top: 1px solid #c2c2c2;
    text-align: left;
    padding: 10px;
}

.nome_produto {
    margin-top: 0px;
    margin-bottom: 2px;
}

.informacao_produto {
    margin: 0px;
    font-size: 10px;
    text-align: justify;
    height: 110px;
}

.valor_produto {
    float: right;
    color: #2196F3;
}

