/* estilo correspondente a barra de pesquisa */
#conteudo_buscar {
    position: relative;
    left: 50%;
    top: 0px;
    width: 400px;
    height: 65px;
    margin-left: -200px;
    margin-bottom: 20px;
}

#input_buscar_principal {
    position: relative;
    margin: 0px;
    border: none;
    border-bottom: 2px solid #2a2a2a;
    width: 270px;
    height: 30px;
    background-color: transparent;
    padding: 0px 10px;
    color: #2a2a2a;
    outline: none;
    font-size: 18px;
}

#input_botao_buscar {
    position: relative;
    top: 7px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 40px;
    background: #fff url('../..//imagem/lupa.svg') no-repeat center center;
    border: 13px solid #fff;
    outline: none;
    cursor: pointer;
}


/* Estilo para o espaço referente aos produtos */

#espaco_produtos {
    margin: 10px 10%;
    position: relative;
    z-index: 1;
}

#msg_produtos {
    height: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #FFCDD2;
    border: 1px solid #B71C1C;
    text-align: center;
}

.exibindo_produto {
    display: inline-block;
    height: 340px;
    width: 200px;
    border: 2px solid #c2c2c2;
    border-radius: 3px;
    background-color: #fff;
    vertical-align: top;
    margin-bottom: 3px;
    padding: 5px;
    box-shadow: 0 0 8px #9c9c9c;
}

.exibindo_produto:hover {
    -webkit-transition: 0.2s linear;
    transform: scale(1.1);
    box-shadow: none;
}

.imagem_produto {
    height: 200px;
    width: 200px;
}

.descrisao_produto {
    border-top: 1px solid #c2c2c2;
    text-align: left;
    padding: 10px;
}

.nome_produto {
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.informacao_produto {
    margin: 0px;
    font-size: 10px;
    text-align: justify;
    height: 70px;
}

.valor_produto {
    float: right;
    color: #2196F3;
    margin-right: 10px;
}

