#espaco_logo {
    width: 100%;
}

.logo {
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    border: none;
    background-color: #efefef;
}

.botao {
    height: 30px;
    width: 121px;;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    border: 1px solid #9c9c9c;
    cursor: pointer;
}

.botao:hover {
    background-color: #01579B;
    color: #fff;
}