html, body, figure, ul, ol, li{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #000;
}

#espaco {
    width: 250px;
    margin: 225px auto 0px;
    padding: 30px;
    border: 2px solid #efefef;
    border-radius: 3px;
}

input {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}

.logo {
    width: 180px
}

.mensage {
    width: 250px;
    border-radius: 3px;
    border: 1px solid #B71C1C;
    background-color: #FFCDD2;
    padding: 5px 0px;
    text-align: center;
    margin-bottom: 10px;
}

#menu {
    position: absolute;
    top: 422px;
    padding-left: 25px;
    width: 685px;
}

.input_botao {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 9px solid #a2a2a2;
    margin: 0px 20px 0px 0px;
    padding: 5px;
}

/* Estilo da pagina principal */

#header_principal {
    height: 70px;
    width: 100%;
    background-color: #fff;
}

#logo_cabecalho_principal {
    height: 60px;
    margin-top: 5px;
    margin-left: 10%;
}

#menu_principal {
    position: absolute;
    right: 10%;
    top: 0px;
    height: 70px;
}

.botao_menu_principal {
    position: relative;
    display: inline-block;
    margin: 0px 1px;
    padding: 26px 15px;
    font-size: 15px;
}

.botao_menu_principal:hover {
    background-color: #c2c2c2;
}

.input_botao:hover {
    cursor: pointer;
}


/* Fim do Estilo da pagina principal*/

.animacao:hover {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}