
/* Estilo referente a descrição do produto */

#titulo_produto_campo {
    padding: 0px 10%;
}

#titulo_produto {
    margin: 0px;
    margin-top: 55px;
    text-align: center;
    width: 100%;
    color: #212121;
}

#imagem_produto {
    position: relative;
    top: 20px;
    width: 39%;
    border: 2px solid #212121;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 15px #212121;
}

#box_informacao_produto {
    padding: 0px 10%;
}

#box_informacao_basica {
    width: 58%;
    margin-left: 1%;
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
}

#botao_comprar {
    position: relative;
    left: 50%;
    margin-left: -116px;
    width: 200px;
    height: 50px;
    background-color: #162182;
    color: #fff;
    font-size: 20px;
    box-shadow: 0 0 8px #757575;
    margin-top: 10px;
    border: none;
}

#botao_comprar:hover {
    -webkit-transition: 0.2s linear;
    transform: scale(1.1);
}

#valor_produto {
    margin-left: 25px;
    font-size: 30px;
    color: #00695C;
}

#descricao_produto_limitada {
    margin-top: 30px;
}

/* Especificações tecnicas */
#detalhes_tecnicos_produtos {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

#detalhes_tecnicos_produtos_marcador {
    margin: 50px 10% 0px;
    color: #00695C;
    border-bottom: 2px solid #00695C;
}

#detalhes_tecnicos_produtos_descricao {
    margin: 15px 10%;
    padding-left: 10px;
}

.mensage {
    margin-top: 10px;
    width: 100%;
    padding: 15px 0;
    background-color: #FFCDD2;
    border: 2px solid #6F0000;
    border-radius: 3px;
    text-align: center;
}