html {
    background-color: #efefef;
}

html, body, figure, ul, ol, li{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #000;
}

#espaco {
    width: 250px;
    margin: 225px auto 0px;
    padding: 30px;
    border: 2px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 15px #000;
}

input {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}

.logo {
    width: 180px;
}

#mensage {
    position: relative;
    top: -28px;
    float: right;
    color: #B71C1C;
}

#botao_sair{
    position: relative;
    top: -15px;
    right: -15px;
    margin: 0px;
    width: 15px;
    height: 15px;
    float: right;
    background-color: #6F0000;
    color: #fff;
}

#botao_sair:hover {
    cursor: pointer;
}

.input_botao {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 9px solid #a2a2a2;
    margin: 0px 20px 0px 0px;
    padding: 5px;
}

#criando_conta {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    margin-top: -155px;
    margin-left: -143px;
    width: 250px;
    padding: 30px;
    border: 2px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 20px #000;
}

.botao_salvar_cadastro {
    margin-top: 15px;
    height: 30px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #414141;
    border-bottom: 2.5px solid #414141;
}

.botao_salvar_cadastro:hover {
    cursor: pointer;
    background-color: #01579B;
}

.botao_sair_cabecalho {
    float: right;
    position: relative;
    top: -32px;
    right: -32px;
    background-color: #6F0000;
    color: #fff;
    width: 25px;
    font-size: 20px;
    margin: 0px;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#fundo_transparente {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 98;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

/* Estilo da pagina principal */

#header_principal {
    height: 70px;
    width: 100%;
    background-color: #fff;
}

#logo_cabecalho_principal {
    height: 60px;
    margin-top: 5px;
    margin-left: 10%;
}

#logar {
    position: absolute;
    top: 10px;
    right: 10%;
    float: right;
    width: 350px;
    vertical-align: top;
}

#logado {
    position: absolute;
    top: 20px;
    right: 10%;
    float: right;
}

.suporte_login {
    margin: 0px;
    margin-top: 3px;
    padding: 0px;
}

#botao_entrar {
    background-color: #00695C;
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 30px;
    box-shadow: 0 0 1px black;
    margin: 0px;
    cursor: pointer;
}

.campos_login {
    width: 140px;
    height: 17px;
    margin: 0px;
}

#barra_menu {
    margin-top: 0px;
    padding: 0px 10%;
    height: 55px;
    background-color: #00695C;
}

.botao_menu_principal {
    position: relative;
    display: inline-block;
    margin: 0px 1px;
    padding: 18.5px 15px;
    font-size: 15px;
}

.botao_menu_principal:hover {
    background-color: #2a2a2a;
    color: #fff;
}

.input_botao:hover {
    cursor: pointer;
}

#footer_pagina_principal {
    margin: 10px 0px 0px;
    padding: 20px 0px;
    text-align: right;
    width: 100%;
    background-color: #263238;
    color: #fff;
}

/* Fim do Estilo da pagina principal*/

.animacao:hover {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}